<!--
Copyright (C) 2017 Sammamish Robotics <robototes2412@gmail.com>, All rights reserved.

This file is part of the robototes-website project.

Any copying and/or distributing and/or use in commercial or non-commercial environments
via any medium without the express permission of Robotics Leadership is strictly prohibited.
-->
<footer class="container">
    <span class="col-sm-12 text-center text-muted">
        &copy; <%=(new Date()).getFullYear();%> Sammamish Robotics
    </span>
</footer>

<!-- CookieConsent to comply with EU laws-->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/2.0.0/cookieconsent.min.js"
    integrity="sha256-LP2Bn711J375x5aY4PlrotakbRRTp7Yl9+TV2VUTIuo="
    crossorigin="anonymous"></script>
<div class="modal fade" id="privacy" tabindex="-1" style="z-index: 100000" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Our Privacy Policy</h4>
            </div>
            <div class="modal-body">
                <h3>In short</h3>
                <ul>
                    <li>We collect anonymous data about your visit, including which of our pages you've visited and how you found us
                        (e.g. a search engine like <a href="//www.google.com/">Google</a>). This is used to find out where we
                        are lacking in user experience, and how to improve our site.</li>
                    <li>Some 3rd parties like Facebook and Twitter may know you visited this website, if you use their services. We can't
                        control them but we don't believe this knowledge poses any threat to you.</li>
                </ul>
                <h3>Details</h3>
                <h4>Analytics</h4>
                <p>We really want to know what we can do to improve your experience, so we measure how many visitors we have using
                    <a href="//www.google.com/analytics/">Google Analytics</a>. It doesn't tell us who you are or where you are,
                    but it tells us that <span class="italic">someone</span> visited our site (yay!) and a little about how you found
                    us (e.g. searching on <a href="//www.google.com/">Google</a>, or a <a href="//www.facebook.com/">Facebook</a> post).
                    If you really don't want us to know that, feel free to <a href="//tools.google.com/dlpage/gaoptout">opt out</a> from
                    Google Analytics. Alternatively, we'd love it if you could tell us about your experience directly
                    <a href="/forms/feedback">here</a>.</p>
                <h4>3rd Parties</h4>
                <p>Services like Facebook and Twitter help us get the word out so people can see the incredible things we're doing,
                    using some handy "Like" and "Share" buttons. To protect you, we ask them to put those buttons on our page and as
                    such we have no control over them. If you're logged into one of those services, they
                    <span class="italic">could</span> know that you're viewing this page (they may not do it right now, but their
                    policies may change). What they do with that data is mostly up to you, and you should be able to control. As our
                    website is rather inoffensive, we don't think this will be much of a concern for most users. That said, we'd really
                    <span class="fa fa-heart"></span> it if you could tell your friends about us on social media.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<% if(app.get("debug")) { %>
    <!--Test runner-->
    <div>
        <div class="btn-group btn-group-justified" style="bottom: 0; position: fixed; height: 60px;">
            <a class="btn btn-default" data-toggle="modal" data-target="#testresults" data-action="run-tests">Run tests</a>
        </div>
        <div class="modal fade" id="testresults" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Test results</h4>
                    </div>
                    <div class="modal-body" id="mocha"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-action="run-tests">Run again</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% } %>