<!--
Copyright (C) 2016 Sammamish Robotics <robototes2412@gmail.com> All rights reserved

This file is part of the robototes-website project.

Any copying and/or distributing and/or use in commercial or non-commercial environments
via any medium without the express permission of Robotics Leadership is strictly prohibited
-->
<header data-ng-app="robototes-common" data-ng-controller="commonController" class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <!--Mobile Icon-->
                <a class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navlinks">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <%- link_to("\/\/ROBOTOTES", "/", { id: "logo", class: "navbar-brand" }); %>
                <div class="visible-xs btn-group btn-group-justfified text-center pull-right">
                    
                </div>
                <ul class="visible-xs btn-group btn-group-justfified text-center pull-right">
                    <% include ./social.ejs %>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navlinks">
                <ul class="nav navbar-nav">
                    <li class="active"><%- link_to("About" + tag("span", { class: "sr-only" }) + "(current)" + end_tag("span"), "/about"); %></li>
                    <li><%- link_to("Blog", "/blog"); %></li>
                    <li><%- link_to("Resources", "/resources"); %></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <% include ./social.ejs %>
                </ul>
            </div>
        </div>
    </nav>
</header>