header.container-fluid
  nav.navbar.navbar-default.navbar-fixed-top
    div.container-fluid
      div.navbar-header
        a.navbar-toggle.collapsed(data-toggle='collapse' data-target='#navlinks')
          span.sr-only Toggle Navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand#headerTitle(href='/') //ROBOTOTES
        div.visible-xs.btn-group.btn-group-justified.text-center.pull-right
          include /social
      div.collapse.navbar-collapse#navlinks
        ul.nav.navbar-nav
          li
            a(href='/about') About
          li
            a(href=`//cdn.${process.env.DOMAIN}`) Blog
          li
            a(href='/resources') Resources
        div.nav.navbar-nav.navbar-right
          include /social