a.btn.btn-default.col-sm-3.fa.fa-facebook(href='https://facebook.com/robototes' target='_blank')
  span.sr-only Facebook
a.btn.btn-default.col-sm-3.fa.fa-twitter(href='https://twitter.com/robotics_2412' target='_blank')
  span.sr-only Twitter
a.btn.btn-default.col-sm-3.fa.fa-instagram(href='https://instagram.com/robototes_2412' target='_blank')
  span.sr-only Instagram
a.btn.btn-default.col-sm-3.fa.fa-google-plus(href='https://plus.google.com/117011933295301976527' target='_blank')
  span.sr-only Google Plus