# Editor configs
.eslintrc

# Project configurations
.env

# Caches and dependency trees
.retire-cache/
node_modules/

# Coverage reports
.nyc_output/
coverage/
coverage.lcov

# Server-specific data stores
mongo-data/

# Logs
yarn-error.log
