[submodule "web"]
	path = web
	url = https://github.com/robototes/robototes-website-web.git
	branch = master
[submodule "api"]
	path = api
	url = https://github.com/robototes/robototes-website-api.git
	branch = master
[submodule "team"]
	path = team
	url = https://github.com/robototes/robototes-website-team.git
	branch = master
