block footer
  footer
    span.col-sm-12.text-center.text-muted &copy; #{(new Date()).getFullYear()} Sammamish Robotics
  
  block scripts
    // jQuery
    script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js' integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=' crossorigin='anonymous')
    
    // jQuery LazyLoad
    script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery_lazyload/1.9.7/jquery.lazyload.min.js' integrity='sha256-gDUQmMJHiRi7gACNeDZJkwW/b01LKr90K4gjJVu7DY4=' crossorigin='anonymous')
    
    // Bootstrap
    script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=' crossorigin='anonymous')
    
    // Common JS
    script(type='text/javascript' src=`//cdn.${nconf.get('DOMAIN')}/js/common.js`)
