<% var seo = {
    title: code + " error | Team 2412 - The Robototes",
    description: "A " + code + " error has occurred!",
    url: classes.constants.subdomains.full("PUBLIC")
}; %>
<!DOCTYPE html>
<html lang="en">
    <!--
        Copyright (C) 2017 Sammamish Robotics <robototes2412@gmail.com> All rights reserved
        
        This file is part of the robototes-website project.
        
        Any copying and/or distributing and/or use in commercial or non-commercial environments
        via any medium without the express permission of Robotics Leadership is strictly prohibited
        -->
    <head>
        <% include ../partials/head.ejs %>
        <% include ../partials/seo.ejs %>
    </head>
    <body>
        <% include ../partials/header.ejs %>
        <section id="main">
            <h1><%= {
                403: "Ummmmm, I don't think you should be here. The robots are sleeping",
                404: "Uh oh! We lost the robot!",
                500: "When your robot stops working right before the competition :O"
            }[code]; %></h1>
            <p>There seems to have been a <%= code; %> error. If you think this is a problem with our website, please fill out this form:</p>
            <iframe src=<%="https://docs.google.com/forms/d/e/1FAIpQLSeE3DD0gAQy5Zlqrl9mZvAEaGCH5Vk9NtZpS0seYz7CoUe2iQ/viewform?embedded=true&entry.249162248&entry.1950414974=" + code + "&entry.999947763";%> width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </section>
        <% include ../partials/footer.ejs %>
    </body>
</html>