doctype html
html(lang='en')
    head
        block head
            include /head
            include /seo
    body.container
        include /header
        section#main
            block main
        include /footer