<% var seo = {
    title: "Resources | Team 2412 - The Robototes"
}; %>
<!--
Copyright (C) 2016 Sammamish Robotics <robototes2412@gmail.com> All rights reserved

This file is part of the robototes-website project.

Any copying and/or distributing and/or use in commercial or non-commercial environments
via any medium without the express permission of Robotics Leadership is strictly prohibited
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head.ejs %>
        <% include ../partials/seo.ejs %>
    </head>
    <body>
        <% include ../partials/header.ejs %>
        <section id="main">
            <div id="socialmedia">
                <h2>Hopefully updated social media</h2>
                <ul>
                    <li><a href="https://www.youtube.com/channel/UCGCRO_t4RDHoEnl4MQ5A4hg">Youtube Channel</a></li>
                    <li><a href="https://www.facebook.com/Robototes">Old Facebook page</a></li>
                </ul>
            </div>
            <div id="externallinks">
                <h2>External Links:</h2>
                <ul>
                    <li><a href="http://www.chiefdelphi.com/forums/portal.php" target="_blank">ChiefDelphi</a></li>
                    <li><a href="http://www.thebluealliance.com/team/2412">TheBlueAlliance - Competition data, videos, etc.</a></li>
                    <li><a href="http://www.usfirst.org/">FIRST</a></li>
                    <li><a href="http://firstwa.org">FIRSTWA</a></li>
                </ul>
            </div>
        </section>
        <% include ../partials/footer.ejs %>
    </body>
</html>