<% var seo = {
    title: "Resources | Team 2412 - The Robototes"
}; %>
<!DOCTYPE html>
<html lang="en">
    <!--
        Copyright (C) 2017 Sammamish Robotics <robototes2412@gmail.com> All rights reserved
        
        This file is part of the robototes-website project.
        
        Any copying and/or distributing and/or use in commercial or non-commercial environments
        via any medium without the express permission of Robotics Leadership is strictly prohibited
        -->
    <head>
        <% include ../partials/head.ejs %>
        <% include ../partials/seo.ejs %>
    </head>
    <body>
        <% include ../partials/header.ejs %>
        <section id="main">
            <div id="socialmedia">
                <h2>Hopefully updated social media</h2>
                <ul>
                    <li><a href="https://www.youtube.com/channel/UCGPcRxxZuqsReqQDWMfKrVw">Youtube Channel<i class="fa fa-external-link"></i></a></li>
                    <li><a href="https://www.facebook.com/Robototes">Facebook page<i class="fa fa-external-link"></i></a></li>
                    <li><a href="https://twitter.com/robotics_2412">Twitter page<i class="fa fa-external-link"></i></a></li>
                    <li><a href="https://instagram.com/robototes_2412">Instagram page<i class="fa fa-external-link"></i></a></li>
                </ul>
            </div>
            <div id="externallinks">
                <h2>External Links:</h2>
                <ul>
                    <li><a href="http://www.chiefdelphi.com/forums/portal.php" target="_blank">ChiefDelphi<i class="fa fa-external-link"></i></a></li>
                    <li><a href="http://www.thebluealliance.com/team/2412" target="_blank">TheBlueAlliance - Competition data, videos, etc.<i class="fa fa-external-link"></i></a></li>
                    <li><a href="http://www.usfirst.org/">FIRST<i class="fa fa-external-link"></i></a></li>
                    <li><a href="http://firstwa.org">FIRSTWA<i class="fa fa-external-link"></i></a></li>
                    <li><a href="http://github.com/robototes">Our github<i class="fa fa-external-link"></i></a></li>
                </ul>
            </div>
            <a href="#privacy" data-toggle="modal" data-target="#privacy">Privacy policy</a>
            <div id="contactus">
                <h2>Contact us</h2>
                <h4>Robotics Leadership</h4>
                <div class="container m-md-h-0 text-left">
                    <div class="row" id="leadership_emails">
                    </div>
                </div>
                <h4>Website Creators:</h4>
                <div class="container m-md-h-0 text-left">
                    <div class="row" id="website_emails" data-toggle="tooltip"  data-placement="bottom" data-original-title="takbs and owcra, the cool ones">
                        <div class="col-sm-6 col-xs-12"><a style="cursor: pointer" class="newtablink" target="_blank" href="https://github.com/dannytech">Daniel Hellstern</a></div>
                    </div>
                </div>
            </div>
        </section>
        <% include ../partials/footer.ejs %>
    </body>
</html>
